1

In [1]:
import numpy as np
import pandas as pd

2

In [6]:
df = pd.read_csv('https://github.com/Jigsaw-Academy-of-Education/AIAcademyBatchB/raw/main/Programming%20in%20Python/Data%20Manipulation%20with%20Python/Fd%20(1).csv')

4

In [7]:
df.head(25)

,FlightDate,UniqueCarrier,AirlineID,Carrier,TailNum,FlightNum,OriginAirportID,OriginAirportSeqID,OriginCityMarketID,Origin,...,DestAirportID,DestAirportSeqID,DestCityMarketID,Dest,DestCityName,DestState,DestStateFips,DestStateName,DestWac,CRSDepTime
0,01-Jan-14,DL,19790,DL,N948DN,335,11057,1105703,31057,CLT,...,10397,1039705,30397,ATL,"Atlanta, GA",GA,13,Georgia,34,1700
1,01-Jan-14,DL,19790,DL,N925DN,1095,11057,1105703,31057,CLT,...,10397,1039705,30397,ATL,"Atlanta, GA",GA,13,Georgia,34,1315
2,01-Jan-14,DL,19790,DL,N921DN,2422,11057,1105703,31057,CLT,...,10397,1039705,30397,ATL,"Atlanta, GA",GA,13,Georgia,34,945
3,01-Jan-14,DL,19790,DL,N937DN,1607,11057,1105703,31057,CLT,...,10397,1039705,30397,ATL,"Atlanta, GA",GA,13,Georgia,34,710
4,01-Jan-14,US,20355,US,N668AW,657,11057,1105703,31057,CLT,...,10397,1039705,30397,ATL,"Atlanta, GA",GA,13,Georgia,34,1310
5,01-Jan-14,US,20355,US,N128UW,894,11057,1105703,31057,CLT,...,10397,1039705,30397,ATL,"Atlanta, GA",GA,13,Georgia,34,2010
6,01-Jan-14,US,20355,US,N150UW,1843,11057,1105703,31057,CLT,...,10397,1039705,30397,ATL,"Atlanta, GA",GA,13,Georgia,34,1600
7,01-Jan-14,US,20355,US,N712US,2041,11057,1105703,31057,CLT,...,10397,1039705,30397,ATL,"Atlanta, GA",GA,13,Georgia,34,1759
8,01-Jan-14,US,20355,US,N602AW,413,11057,1105703,31057,CLT,...,10397,1039705,30397,ATL,"Atlanta, GA",GA,13,Georgia,34,921
9,01-Jan-14,DL,19790,DL,N344NB,2030,13232,1323202,30977,MDW,...,10397,1039705,30397,ATL,"Atlanta, GA",GA,13,Georgia,34,600
10,01-Jan-14,DL,19790,DL,N318NB,1688,13232,1323202,30977,MDW,...,10397,1039705,30397,ATL,"Atlanta, GA",GA,13,Georgia,34,1527
11,01-Jan-14,FL,20437,FL,N284AT,652,13232,1323202,30977,MDW,...,10397,1039705,30397,ATL,"Atlanta, GA",GA,13,Georgia,34,1705
12,01-Jan-14,FL,20437,FL,N285AT,1097,13232,1323202,30977,MDW,...,10397,1039705,30397,ATL,"Atlanta, GA",GA,13,Georgia,34,1900
13,01-Jan-14,FL,20437,FL,N175AT,1707,13232,1323202,30977,MDW,...,10397,1039705,30397,ATL,"Atlanta, GA",GA,13,Georgia,34,1000
14,01-Jan-14,WN,19393,WN,N222WN,336,13232,1323202,30977,MDW,...,10397,1039705,30397,ATL,"Atlanta, GA",GA,13,Georgia,34,750
15,01-Jan-14,WN,19393,WN,N256WN,1118,13232,1323202,30977,MDW,...,10397,1039705,30397,ATL,"Atlanta, GA",GA,13,Georgia,34,1300
16,01-Jan-14,DL,19790,DL,N671DN,1916,11292,1129202,30325,DEN,...,10397,1039705,30397,ATL,"Atlanta, GA",GA,13,Georgia,34,1315
17,01-Jan-14,DL,19790,DL,N960DN,1422,11292,1129202,30325,DEN,...,10397,1039705,30397,ATL,"Atlanta, GA",GA,13,Georgia,34,59
18,01-Jan-14,DL,19790,DL,N939DN,1439,11292,1129202,30325,DEN,...,10397,1039705,30397,ATL,"Atlanta, GA",GA,13,Georgia,34,900
19,01-Jan-14,F9,20436,F9,N906FR,426,11292,1129202,30325,DEN,...,10397,1039705,30397,ATL,"Atlanta, GA",GA,13,Georgia,34,1335
20,01-Jan-14,FL,20437,FL,N309AT,193,11292,1129202,30325,DEN,...,10397,1039705,30397,ATL,"Atlanta, GA",GA,13,Georgia,34,700
21,01-Jan-14,WN,19393,WN,N450WN,2361,11292,1129202,30325,DEN,...,10397,1039705,30397,ATL,"Atlanta, GA",GA,13,Georgia,34,1540
22,01-Jan-14,DL,19790,DL,N947DL,1144,12191,1219102,31453,HOU,...,10397,1039705,30397,ATL,"Atlanta, GA",GA,13,Georgia,34,700
23,01-Jan-14,FL,20437,FL,N940AT,199,12191,1219102,31453,HOU,...,10397,1039705,30397,ATL,"Atlanta, GA",GA,13,Georgia,34,1248
24,01-Jan-14,FL,20437,FL,N910AT,453,12191,1219102,31453,HOU,...,10397,1039705,30397,ATL,"Atlanta, GA",GA,13,Georgia,34,700

5

In [8]:
df.tail(10)

,FlightDate,UniqueCarrier,AirlineID,Carrier,TailNum,FlightNum,OriginAirportID,OriginAirportSeqID,OriginCityMarketID,Origin,...,DestAirportID,DestAirportSeqID,DestCityMarketID,Dest,DestCityName,DestState,DestStateFips,DestStateName,DestWac,CRSDepTime
30433,15-Mar-14,US,20355,US,N816AW,478,12889,1288903,32211,LAS,...,11278,1127802,30852,DCA,"Washington, DC",VA,51,Virginia,38,1305
30434,15-Mar-14,AA,19805,AA,N3EMAA,240,12892,1289203,32575,LAX,...,11278,1127802,30852,DCA,"Washington, DC",VA,51,Virginia,38,750
30435,15-Mar-14,AS,19930,AS,N594AS,6,12892,1289203,32575,LAX,...,11278,1127802,30852,DCA,"Washington, DC",VA,51,Virginia,38,1255
30436,15-Mar-14,MQ,20398,MQ,N823MQ,3621,12478,1247802,31703,JFK,...,11278,1127802,30852,DCA,"Washington, DC",VA,51,Virginia,38,2130
30437,15-Mar-14,MQ,20398,MQ,N829MQ,3370,12478,1247802,31703,JFK,...,11278,1127802,30852,DCA,"Washington, DC",VA,51,Virginia,38,840
30438,15-Mar-14,MQ,20398,MQ,N843MQ,3386,12478,1247802,31703,JFK,...,11278,1127802,30852,DCA,"Washington, DC",VA,51,Virginia,38,1200
30439,15-Mar-14,MQ,20398,MQ,N509MQ,3425,12478,1247802,31703,JFK,...,11278,1127802,30852,DCA,"Washington, DC",VA,51,Virginia,38,1459
30440,15-Mar-14,US,20355,US,N802AW,498,14107,1410702,30466,PHX,...,11278,1127802,30852,DCA,"Washington, DC",VA,51,Virginia,38,1453
30441,15-Mar-14,US,20355,US,N534UW,595,14107,1410702,30466,PHX,...,11278,1127802,30852,DCA,"Washington, DC",VA,51,Virginia,38,849
30442,15-Mar-14,US,20355,US,N813AW,680,14107,1410702,30466,PHX,...,11278,1127802,30852,DCA,"Washington, DC",VA,51,Virginia,38,1225

6

In [10]:
df.shape[0]

30443

7

In [11]:
df.shape[1]

25

8

In [12]:
df.columns

Index(['FlightDate', 'UniqueCarrier', 'AirlineID', 'Carrier', 'TailNum',
       'FlightNum', 'OriginAirportID', 'OriginAirportSeqID',
       'OriginCityMarketID', 'Origin', 'OriginCityName', 'OriginState',
       'OriginStateFips', 'OriginStateName', 'OriginWac', 'DestAirportID',
       'DestAirportSeqID', 'DestCityMarketID', 'Dest', 'DestCityName',
       'DestState', 'DestStateFips', 'DestStateName', 'DestWac', 'CRSDepTime'],
      dtype='object')

9

In [13]:
df.index

RangeIndex(start=0, stop=30443, step=1)

10

In [14]:
df.dtypes

FlightDate            object
UniqueCarrier         object
AirlineID              int64
Carrier               object
TailNum               object
FlightNum              int64
OriginAirportID        int64
OriginAirportSeqID     int64
OriginCityMarketID     int64
Origin                object
OriginCityName        object
OriginState           object
OriginStateFips        int64
OriginStateName       object
OriginWac              int64
DestAirportID          int64
DestAirportSeqID       int64
DestCityMarketID       int64
Dest                  object
DestCityName          object
DestState             object
DestStateFips          int64
DestStateName         object
DestWac                int64
CRSDepTime             int64
dtype: object

11

In [15]:
df.OriginCityName

0        Charlotte, NC
1        Charlotte, NC
2        Charlotte, NC
3        Charlotte, NC
4        Charlotte, NC
             ...
30438     New York, NY
30439     New York, NY
30440      Phoenix, AZ
30441      Phoenix, AZ
30442      Phoenix, AZ
Name: OriginCityName, Length: 30443, dtype: object

12

In [17]:
df.OriginCityName.unique()

array(['Charlotte, NC', 'Chicago, IL', 'Denver, CO', 'Houston, TX',
       'Las Vegas, NV', 'Los Angeles, CA', 'New York, NY', 'Phoenix, AZ',
       'Washington, DC', 'Atlanta, GA'], dtype=object)

In [18]:
len(df.OriginCityName.unique())

10

13

In [23]:
df.OriginCityName.value_counts()

Los Angeles, CA    5323
Las Vegas, NV      4188
Atlanta, GA        4091
Phoenix, AZ        3957
Denver, CO         3001
New York, NY       2794
Charlotte, NC      2408
Washington, DC     2105
Houston, TX        1373
Chicago, IL        1203
Name: OriginCityName, dtype: int64

14

In [24]:
df.describe()

,AirlineID,FlightNum,OriginAirportID,OriginAirportSeqID,OriginCityMarketID,OriginStateFips,OriginWac,DestAirportID,DestAirportSeqID,DestCityMarketID,DestStateFips,DestWac,CRSDepTime
count,30443.000000,30443.000000,30443.000000,3.044300e+04,30443.000000,30443.000000,30443.000000,30443.000000,3.044300e+04,30443.000000,30443.000000,30443.000000,30443.000000
mean,20004.716914,1452.611438,12243.582531,1.224361e+06,31303.321125,21.100516,63.237427,12150.603948,1.215063e+06,31247.723845,20.854121,61.249811,1244.026213
std,423.137771,1344.397541,1161.594132,1.161589e+05,854.842119,15.982840,25.963228,1181.675375,1.181669e+05,844.153453,15.595320,26.091337,489.817084
min,19393.000000,1.000000,10397.000000,1.039705e+06,30325.000000,4.000000,22.000000,10397.000000,1.039705e+06,30325.000000,4.000000,22.000000,30.000000
25%,19790.000000,475.000000,11278.000000,1.127802e+06,30466.000000,6.000000,36.000000,11278.000000,1.127802e+06,30397.000000,6.000000,34.000000,820.000000
50%,19977.000000,927.000000,12478.000000,1.247802e+06,31057.000000,13.000000,81.000000,12478.000000,1.247802e+06,31057.000000,13.000000,81.000000,1200.000000
75%,20355.000000,2027.000000,12892.000000,1.289203e+06,32211.000000,36.000000,85.000000,12892.000000,1.289203e+06,32211.000000,36.000000,85.000000,1625.000000
max,21171.000000,6536.000000,14107.000000,1.410702e+06,32575.000000,51.000000,91.000000,14107.000000,1.410702e+06,32575.000000,51.000000,91.000000,2359.000000

15

In [25]:
df.describe(include='all')

,FlightDate,UniqueCarrier,AirlineID,Carrier,TailNum,FlightNum,OriginAirportID,OriginAirportSeqID,OriginCityMarketID,Origin,...,DestAirportID,DestAirportSeqID,DestCityMarketID,Dest,DestCityName,DestState,DestStateFips,DestStateName,DestWac,CRSDepTime
count,30443,30443,30443.000000,30443,30017,30443.000000,30443.000000,3.044300e+04,30443.000000,30443,...,30443.000000,3.044300e+04,30443.000000,30443,30443,30443,30443.000000,30443,30443.000000,30443.000000
unique,74,13,NaN,13,2815,NaN,NaN,NaN,NaN,10,...,NaN,NaN,NaN,10,10,10,NaN,10,NaN,NaN
top,12-Feb-14,DL,NaN,DL,N544UW,NaN,NaN,NaN,NaN,LAX,...,NaN,NaN,NaN,ATL,"Atlanta, GA",GA,NaN,Georgia,NaN,NaN
freq,583,6907,NaN,6907,79,NaN,NaN,NaN,NaN,5323,...,NaN,NaN,NaN,4899,4899,4899,NaN,4899,NaN,NaN
mean,NaN,NaN,20004.716914,NaN,NaN,1452.611438,12243.582531,1.224361e+06,31303.321125,NaN,...,12150.603948,1.215063e+06,31247.723845,NaN,NaN,NaN,20.854121,NaN,61.249811,1244.026213
std,NaN,NaN,423.137771,NaN,NaN,1344.397541,1161.594132,1.161589e+05,854.842119,NaN,...,1181.675375,1.181669e+05,844.153453,NaN,NaN,NaN,15.595320,NaN,26.091337,489.817084
min,NaN,NaN,19393.000000,NaN,NaN,1.000000,10397.000000,1.039705e+06,30325.000000,NaN,...,10397.000000,1.039705e+06,30325.000000,NaN,NaN,NaN,4.000000,NaN,22.000000,30.000000
25%,NaN,NaN,19790.000000,NaN,NaN,475.000000,11278.000000,1.127802e+06,30466.000000,NaN,...,11278.000000,1.127802e+06,30397.000000,NaN,NaN,NaN,6.000000,NaN,34.000000,820.000000
50%,NaN,NaN,19977.000000,NaN,NaN,927.000000,12478.000000,1.247802e+06,31057.000000,NaN,...,12478.000000,1.247802e+06,31057.000000,NaN,NaN,NaN,13.000000,NaN,81.000000,1200.000000
75%,NaN,NaN,20355.000000,NaN,NaN,2027.000000,12892.000000,1.289203e+06,32211.000000,NaN,...,12892.000000,1.289203e+06,32211.000000,NaN,NaN,NaN,36.000000,NaN,85.000000,1625.000000
max,NaN,NaN,21171.000000,NaN,NaN,6536.000000,14107.000000,1.410702e+06,32575.000000,NaN,...,14107.000000,1.410702e+06,32575.000000,NaN,NaN,NaN,51.000000,NaN,91.000000,2359.000000